#form{
    margin: 7px auto;
    width: 100%;
}
#form>*{
    display: block;
    height: 40px;
    font-size: 20px;
    outline: none;
    margin: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
#form>button{
    min-width: 30px;
    background: var(--bg-dark-secondary);
    color: var(--text-dark-secondary);
}
#temp-data{
    font-size: 85px;
}

@media only screen and (max-width: 600px) {
    #form>input{
        width: 90%;
    }
}
#iframe{
    width: 85vmin;
    height: 85vmin;
}
#result{
    padding: 10px;
}
#city-header,#change-temp-calc,#dot-menu,h1{
    padding: 6px;
}

#change-temp-calc{
    transition: all .5s ease-in-out;
    right: 15px;
    z-index: -1;
    cursor: pointer;
}

#dot-menu{
    cursor: pointer;
}
#sky-data{
    text-transform: capitalize;
}
#weather-image{
    height: 100%;
}