#form{
    margin: 7px auto;
    width: 100%;
}
#form>*{
    display: block;
    height: 40px;
    font-size: 18px;
    outline: none;
    margin: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
#form input{
    border: 3px solid var(--text-dark-secondary) ;
}
#form input:focus{
    border: 3px solid navy ;
}
#form>button{
    min-width: 30px;
    color: var(--text-dark-secondary);
}
#temp-data{
    font-size: 85px;
}

@media only screen and (max-width: 600px) {
    #form{
        padding-left: 15px;
        padding-right: 15px;
    }
    #form>input{
        width: 100%;
        margin: 7px 0;
    }
}
#iframe{
    width: 49vmin;
    height: 70vmin;
}
#result{
    padding: 10px;
}
#result>*{
    margin: 10px;
}
#city-header,#change-temp-calc,h1,#cancel{
    padding: 6px;
}
h1{
    margin: 0 10px;
}
label{
    margin-right: 15px;
    font-size: xx-large;
}
#popup{
    grid-template-columns: auto 1fr;
    right: 5px;
    z-index: -1;
    cursor: pointer;
}
#header-menu{
    grid-template-columns: 1fr 1fr;
}
#dot-menu{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    justify-self: end;
}
#sky-data{
    text-transform: capitalize;
}
#weather-image{
    height: 100%;
}
#mode-toggle{
    opacity: 0;
}
#mode-toggle+label{
    cursor: pointer;
}
#mode-toggle+label>#circle{
    left: auto;
    right: 0;
}
#mode-toggle:checked+label>#circle{
    right: auto;
    left: 0;
}