@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --text-light: #181339;
    --bg-light: #ebf2dc;
    --text-dark: #ebf2dc;
    --bg-dark:#171777;
    --bg-dark-secondary: #181333;
    --bg-light-secondary:#a6d2ee;
    --text-dark-secondary:#ebf0e1;
    --text-light-secondary: #070513;
}
*,*::before,*::after{
    box-sizing: border-box;
    border: none;
    border-radius: 9px;
}
body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
}
.flex.column{
    flex-direction: column;
}
.flex-auto>*{
    flex: auto;
}
.wrap{
    flex-wrap: wrap;
}
.w-100{
    width: 100%;
}
.grid{
    display: grid;
}
.col-2{
    grid-template-columns: 1fr 1fr;
}
.align-items-center,.centralize{
    align-items: center;
}
.justify-content-center,.centralize{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.text-light,.light{
    color: var(--text-light);
}
.bg-light,.light{
background: var(--bg-light);
}
.text-dark,.dark{
    color: var(--text-dark);
}
.bg-dark,.dark{
    background: var(--bg-dark);
}
.bg-dark-secondary,.dark-secondary{
    background-color: var(--bg-dark-secondary); 
}
.text-dark-secondary,.dark-secondary{
    color: var(--text-dark-secondary);
}
.bg-light-secondary,.light-secondary{
    background-color: var(--bg-light-secondary); 
}
.text-light-secondary,.light-secondary{
    color: var(--text-light-secondary);
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}